<!DOCTYPE html>

<html lang="en-US">

<head>

	<title><%= $options.report %> Report</title>

	<meta charset="utf-8">

        <style>

                header {

			background-color:#333f48;
			max-width: 100%;
		}

		body {
			background-color:#333f48;
		}

		h3 {
			color:#b2b4b2;
		}

		b {
			color:#c8102e;
		}

		p {
			color:#b2b4b2;
		}

	</style>
</head>

        <header>

		<a href="../index.html">
			<img src="Your Logo" alt="Logo Words" style="width:250px;height:130px">
		</a>

	</header>
	<hr>

<body>

	<h3>Report Generated at: <%= Time.now.utc %></h3>

<% case $options.report
when 'DynamodbTables' -%>
<% if !$noreport.nil? -%>
	<h3><%= $noreport %></h3>
<% else -%>
	<h3><%= $options.table %> DynamoDB Tables:</h3>
<% end -%>
<% $report.each do |k,v| %>
	<p><b>Name:</b> <%= k %>
        <br>
        <b>ARN:</b> <%= v[:arn] %>
        <br>
        <b>Status:</b> <%= v[:status] %>
        <br>
        <b>Creation Date:</b> <%= v[:create_date] %>
        <br>
	<b>Items in Table:</b> <%= v[:items] %></p>
<% end %>
<% end -%>
<% when 'IamPolicies' -%>
<% if !$noreport.nil? -%>
	<h3><%= $noreport %></h3>
<% else -%>
	<h3><%= $options.table %> IAM Policies:</h3>
<% end -%>
<% $report.each do |k,v| %>
	<p><b>Name:</b> <%= k %>
        <br>
	<b>ARN:</b> <%= v[:arn] %>
        <br>
	<b>Creation Date:</b> <%= v[:creation_date] %>
        <br>
	<b>Updated Date:</b> <%= v[:update_date] %>
        <br>
	<b>Version:</b> <%= v[:version] %>
        <br>
	<b>Default Version:</b> <%= v[:default_version] %>
        <br>
	<b>Attachement Count:</b> <%= v[:attach_count] %>
        <br>
	<b>Policy Document:</b> <%= v[:policy_document] %></p>
<% end %>
<% end -%>
<% when 'IamRoles' -%>
<% if !$noreport.nil? -%>
	<h3><%= $noreport %></h3>
<% else %>
	<h3><%= $options.table %> IAM Roles:</h3>
<% end -%>
<% $report.each do |k,v| %>
	<p><b>Name:</b> <%= k %>
        <br>
	<b>ARN:</b> <%= v[:arn] %>
        <br>
	<b>Creation Date:</b> <%= v[:creation_date] %>
        <br>
<% if v[:policies][:policy_name].empty? and v[:policies][:policy_arn].empty? -%>
        No attached policies
<% else -%>
	<b>Attached Policy Names:</b>
        <br>
<% v[:policies][:policy_name].each do |name| -%>
        <%= name %>
        <br>
<% end -%>
        <b>Attached Policy ARNs:</b>
        <br>
<% v[:policies][:policy_arn].each do |arn| -%>
	<%= arn %>
<% end -%></p>
<% end -%>
<% end %>
<% end -%>
<% when 'KmsKeys' -%>
<% if !$noreport.nil? -%>
	<h3><%= $noreport %></h3>
<% else -%>
	<h3><%= $options.table %> KMS Keys:</h3>
<% end -%>
<% $report.each do |k,v| %>
	<p><b>Name:</b> <%= k %>
        <br>
	<b>ARN:</b> <%= v[:arn] %>
        <br>
	<b>State:</b> <%= v[:state] %></p>
<% end %>
<% end -%>
<% when 'Route53Zones' -%>
<% if !$noreport.nil? -%>
	<h3><%= $noreport %></h3>
<% else -%>
	<h3><%= $options.table %> Route53 Zones:</h3>
<% end -%>
<% $report.each do |k,v| %>
	<p><b>Name:</b> <%= k %>
        <br>
	<b>Record Count:</b> <%= v[:resource_count] %>
        <br>
	<b>Private Zone:</b> <%= v[:private_zone] %></p>
<% end %>
<% end -%>
<% when 'S3Buckets' -%>
<% if !$noreport.nil? -%>
	<h3><%= $noreport %></h3>
<% else -%>
	<h3><%= $options.table %> S3 Buckets:</h3>
<% end -%>
<% $report.each do |k,v| %>
	<p><b>Name:</b> <%= k %>
        <br>
	<b>Creation Date:</b> <%= v[:creation_date] %>
        <br>
	<b>Logging Enabled:</b> <%= v[:logging] %>
        <br>
	<b>Log Target:</b> <%= v[:target] %></p>
<% end %>
<% end -%>
<% when 'ElasticLBs' -%>
<% if !$noreport.nil? -%>
	<h3><%= $noreport %></h3>
<% else -%>
	<h3><%= $options.table %> Load Balancers:</h3>
<% end -%>
<% $report.each do |k,v| %>
	<p><b>Name:</b> <%= k %>
        <br>
	<b>Type:</b> <%= v[:type] %>
        <br>
	<b>Scheme:</b> <%= v[:scheme] %>
        <br>
	<b>Creation Date:</b> <%= v[:created_time] %>
        <br>
	<b>DNS Name:</b> <%= v[:dns_name] %>
        <br>
	<b>Availability Zones:</b> <%= v[:availability_zones][:name].join(',').gsub(/,/, ', ') %>
        <br>
	<b>Subnets:</b> <%= v[:availability_zones][:subnet_id].join(',').gsub(/,/, ', ') %>
        <br>
	<b>Security Groups:</b> <%= v[:security_group].join(',').gsub(/,/, ', ') %>
        <br>
	<b>Logging:</b> <%= v[:logging][:access_log] %>
        <br>
	<b>S3 Location:</b> <%= v[:logging][:s3_log_location] %>
        <br>
	<b>Log Prefix:</b> <%= v[:logging][:s3_log_prefix] %></p>
<% end %>
<% end -%>
<% when 'Ec2Instances' -%>
<% if !$noreport.nil? -%>
	<h3><%= $noreport %></h3>
<% else -%>
	<h3><%= $options.table %> EC2 Instances:</h3>
<% end -%>
<% $report.each do |k,v| -%>
<% v.each do |k,v| -%>
	<p><b>Instance ID:</b> <%= k %>
	<br>
	<b>Instance State:</b> <%= v[:state] %>
	<br>
	<b>Instance Type:</b> <%= v[:type] %>
	<br>
	<b>Instance Launch Time:</b> <%= v[:launch_time] %>
	<br>
	<b>Instance Subnet:</b> <%= v[:subnet] %>
	<br>
	<b>Instance Private IP:</b> <%= v[:private_ip] %>
	<br>
	<b>Instance Private DNS:</b> <%= v[:private_dns] %>
	<br>
<% if !v[:public_ip].nil? -%>
	<b>Instance Public IP:</b> <%= v[:public_ip] %>
	<br>
<% end -%>
<% if !v[:public_dns].nil? -%>
	<b>Instance Public DNS:</b> <%= v[:public_dns] %>
	<br>
<% end -%>
<% v[:security_group].each do |k,v| -%>
	<b>Instance Security Group <%= k %>:</b> <%= v %>
	<br>
<% end -%>
	<b>Instance Key:</b> <%= v[:key_name] %>
	<br>
	<b>Instance AZ:</b> <%= v[:availability_zone] %>
	<br>
<% if !v[:iam].nil? -%>
<% v[:iam].each do |k,v| -%>
<% key = 'Profile ARN' if k == :profile_arn -%>
<% key = 'Profile ID' if k == :profile_id -%>
	<b>Instance IAM <%= key %>:</b> <%= v %>
	<br>
<% end -%>
<% end -%>
	<b>Instance Tenancy:</b> <%= v[:tenancy] %>
	<br>
	<b>Instance Monitoring:</b> <%= v[:monitoring] %>
	<br>
	<b>Instance VPC:</b> <%= v[:vpc] %>
	<br>
	<b>Instance Arch:</b> <%= v[:architecture] %>
	<br>
	<b>Instance Virtualization:</b> <%= v[:virtualization] %>
<% tags = v[:tags].map{ |k,v| "#{k}=>#{v}" if !v.empty? }.join(',').gsub(',', ', ') -%>
<% if !tags.empty? -%>
	<br>
	<b>Instance Tags:</b> <%= tags %>
<% end -%>
<% end %>
<% end %></p>
<% end -%>
<% when 'ReservedInstances' -%>
<% if !$noreport.nil? -%>
	<h3><%= $noreport %></h3>
<% else -%>
	<h3><%= $options.table %> Reserved Instances:</h3>
<% end -%>
<% $report.each do |k,v| -%>
<% v.each do |k,v| -%>
	<p><b>Instance ID:</b> <%= k %>
	<br>
	<b>Instance Type:</b> <%= v[:type] %>
	<br>
	<b>Instance Count:</b> <%= v[:count] %>
	<br>
	<b>Instance State:</b> <%= v[:state] %>
	<br>
<% if !v[:availability_zone].nil? -%>
	<b>Instance AZs:</b> <%= v[:availability_zone] %>
	<br>
<% end -%>
	<b>Instance Scope:</b> <%= v[:scope] %>
	<br>
	<b>Instance Tenancy:</b> <%= v[:tenancy] %>
	<br>
	<b>Instance Offering Type:</b> <%= v[:offering_type] %>
	<br>
	<b>Instance Offering Class:</b> <%= v[:offering_class] %>
	<br>
	<b>Instance Product OS:</b> <%= v[:product_os] %>
	<br>
	<b>Instance Start Time:</b> <%= v[:start] %>
	<br>
	<b>Instance End Time:</b> <%= v[:end] %>
	<br>
	<b>Instance Duration:</b> <%= Time.at(v[:duration]).utc.strftime("%Hhr%Mmin%Ssec") %>
	<br>
	<b>Instance Currency Code:</b> <%= v[:currency] %>
	<br>
	<b>Instance Usage Price:</b> <%= v[:usage_price] %>
	<br>
	<b>Instance Fixed Price:</b> <%= v[:fixed_price] %>
	<br>
	<b>Recurring Charge Frequency:</b> <%= v[:recurring_charges].select { |k,v| k == :frequency }.values.first %>
	<br>
	<b>Recurring Charge Amount:</b> <%= v[:recurring_charges].select { |k,v| k == :amount }.values.first %>
<% if !v[:tags].empty? -%>
	<br>
	<b>Instance Tags:</b> <%= v[:tags] %>
<% end %>
<% end -%></p>
<% end %>
<% end -%>

</body>
</html>
